body {
    margin: 0px;
    padding: 10px;
    background-color: gray;
}

textarea {
    width: 100%;
    height: 370px;

    padding: 0;
    border: 1px solid #ccc;
}

h2 {
    color: blue;
}

#content_div {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}